@model IEnumerable<DataLayer.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_HotelAdminLayout.cshtml";
}

<h2>Book Info</h2>

<p>
  
</p>
<table border="1" class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Checked_In)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checked_Out)
        </th>
        <th>
           Room No
        </th>
        <th>
            User
        </th>
        
        <th>Delete</th>
        <th>User Details</th>
        <th>Check Out</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Checked_In)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checked_Out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_Name)
        </td>
      
        <td>
          @Html.ActionLink("Delete Book", "Delete", new { id=item.Id }) 
        </td>

        <td>
            @Html.ActionLink("User Details", "UserDetails", new { id=item.User_Id })  
        </td>
            
            
        <td>          
            @Html.ActionLink("Check Out", "CheckOut", new { id=item.Id })
           
        </td>
    </tr>
}

</table>
