@model IEnumerable<DataLayer.Schedule>

@{
    ViewBag.Title = "BookedList";
    Layout = "~/Views/shared/_HotelUserLayout.cshtml";
}

<h2>My Booked List</h2>

<table border="1" class="table table-bordered table-hover">
    <tr>
       <th>
           @Html.DisplayNameFor(model => model.Room.Picture)
       </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Category.CategoryName)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Checked_In)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checked_Out)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/img/@Html.DisplayFor(modelItem => item.Room.Picture)" class="img-rounded" alt="Cinque Terre" width="200" height="120">
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checked_In)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checked_Out)
        </td>

    </tr>
}

</table>
