@model DataLayer.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_HotelAdminLayout.cshtml";
}






<div class="row">
				
    <div class="col-sm-2" >
        <!--==============================================================Menu List=================-->
        <center>
            <table class="table table-bordered">
                <tr>
                    <td>@Html.ActionLink("Register New User", "SignUp","Home", null , new { target = "_blank",@class = "btn btn-default" })</td>
                </tr>
                <tr>

                   <td>@Html.ActionLink("Add New Book", "index","Home", null , new { target = "_blank",@class = "btn btn-default" })</td>
                </tr>
                <tr>
                   <td><a href="@Url.Action("index","AdminSchedule")" class="btn btn-default">Booking List</a></td>
                </tr>
                <tr>
                   <td><a href="@Url.Action("BookHistory","AdminSchedule")" class="btn btn-default">Book History</a></td>
                </tr>
                 <tr>
                  <td><a href="@Url.Action("index","AdminRoom")" class="btn btn-default">View Room</a></td>
                </tr>
                 <tr>
                  <td><a href="@Url.Action("index","AdminCategory")" class="btn btn-default">View Room Catagory</a></td>
                </tr>
                 <tr>
                  <td><a href="@Url.Action("CreateAdmin","Admin")" class="btn btn-default">Create New Admin</a><br /></td>
                </tr>
            </table>

    </div>
    <div class="col-sm-10">
        <table border="1" class="table table-bordered table-hover">
    <tr>
        <td>Name</td>
        <td> @Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>  @Html.DisplayFor(model => model.User_Name)</td>
    </tr>
     <tr>
        <td>Email</td>
        <td>  @Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td>  @Html.DisplayFor(model => model.Mobile)</td>
    </tr>
    <tr>
        <td>OtherInfo</td>
        <td>  @Html.DisplayFor(model => model.Other)</td>
    </tr>
</table>

    </div>
</div>

